body {
    background-color: #001a7a;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    width: 80rem;
    max-width: 80rem;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 1rem;
}
img.header-logo {
    display: inline-flex;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    height: auto;
    margin: 2rem 2rem 2rem 0;
}
nav {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    flex: 1;
    height: 5rem;
    justify-content: center;
}
nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    margin: 2rem 0;
}
nav ul li {
    padding: 0 1rem;
    font-weight: 600;
}
nav ul li a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-right: 2rem;
    border-right: 2px solid #ccc;
    justify-content: center;
    margin: 2rem 0;
}
.header-text span {
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.header-text span.research {
    align-items: flex-end;
    color: #009bfa;
    font-size: 21px;
    line-height: 1.85;
}
.header-text span.platform {
    align-items: flex-start;
    color: #193989;
    font-size: 54px;
    line-height: .85;
}
.mobile-nav {
    display: none;
}

/* Hero image */
.hero-image-container {
    width: 100%;
    background: url('../images/hero-top.png'); 
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
}
.hero-overlay {
    background: linear-gradient(to right, #009bfabb, #009bfa00 80%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.hero-text {
    color: #fff;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}
.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    line-height: 1;
    width: 50%;
    margin: 0;
    margin-bottom: 1.5rem;
}
.hero-text span {
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}

/* Sections */
section, section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.grey-bg {
    padding: 3rem 0;
}

#commitment {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 45vh;
}
#commitment img {
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 45vh;
    z-index: 0;
}
#commitment h2 {
    justify-content: center;
    font-size: 2.75rem;
    font-weight: 800;
    letter-spacing: -1px;
}
#commitment p {
    font-size: 1.5rem;
    text-align: center;
}
#commitment h2, #commitment p {
    color: #fff;
    text-shadow: 2px 2px 12px rgb(0 0 0 / 35%);
    z-index: 1;
}
#commitment .btn-primary {
    margin-top: 2rem;
}

.btn-primary {
    display: flex;
    align-content: center;
    border: 1px solid #fff;
    padding: 1rem 3.5rem;
    padding-top: calc(1rem + 2px);
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    z-index: 1;
    background-image: linear-gradient(#fff, #fff);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s, color .3s;
}
.btn-primary:hover {
    color: #1450d2;
    background-size: 100% 100%;
}
.shadow-border-inset {
    border: 1px solid #33333366;
    box-shadow: inset 0 20px 20px -2px #00000033, inset 0 -20px 20px -2px #00000033;
    margin-bottom: 5rem;
}

section h2, section span, section .card-group {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    width: 100%;
}
section h2 {
    display: flex;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
section span {
    margin-bottom: 1rem;
}
section .card {
    background: #fff;
    display: inline-flex;
    flex: .33;
    flex-basis: 33.33%;
    flex-wrap: wrap;
    width: 33.33%;
    overflow: hidden;
    margin: .5rem;
    padding: 1rem;
    text-decoration: none;
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    margin-bottom: 0;
}
section .card img {
    width: 100%;
}
section .card .card-text {
    display: flex;
    align-content: flex-start;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    max-width: 80%;
    margin-bottom: 0;
    line-height: 1;
}
section .card:first-child {
    margin-left: 0;
}
section .card:last-child {
    margin-right: 0;
}

.bottom-border {
    border-bottom: 12px solid;
}
.border-dark-blue {
    border-color: #193989;
}
.border-green {
    border-color: #01a49c;
}
.border-light-blue {
    border-color: #009bfa;
}
.text-dark-blue {
    color: #193989;
}
.text-green {
    color: #01a49c;
}
.text-light-blue {
    color: #009bfa;
}
.blue-bg {
    background-color: #1450d2;
}
.grey-bg {
    background-color: #ebebeb;
}
section .card-text.partial-width {
    max-width: 20%;
}