body {
    background-color: #001a7a;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    width: 80rem;
    max-width: 80rem;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 1rem;
}
img.header-logo {
    display: inline-flex;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    height: auto;
    margin: 2rem 2rem 2rem 0;
}
nav {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    flex: 1;
    height: 5rem;
    justify-content: center;
}
nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
    margin: 2rem 0;
}
nav ul li {
    padding: 0 1rem;
    font-weight: 600;
}
nav ul li a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-right: 2rem;
    border-right: 2px solid #ccc;
    justify-content: center;
    margin: 2rem 0;
}
.header-text span {
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.header-text span.research {
    align-items: flex-end;
    color: #009bfa;
    font-size: 21px;
    line-height: 1.85;
}
.header-text span.platform {
    align-items: flex-start;
    color: #193989;
    font-size: 54px;
    line-height: .85;
}
.mobile-nav {
    display: none;
}

/* Hero image */
.hero-image-container {
    width: 100vw;
    background: url('../images/hero-top.png'); 
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
}
.hero-overlay {
    background: linear-gradient(to right, #009bfacc, #009bfa00 80%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.hero-text {
    color: #fff;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}
.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    line-height: 1;
    width: 50%;
    margin: 0;
    margin-bottom: 1.5rem;
}
.hero-text span {
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}